body {
    margin: 0;
}
#main-bar{
    background-color: rgb(224, 224, 224);
    padding: 20px;
    font-size: 30px;
    font-weight: bold;    
}
#main-bar a{
    color: black;
}
.alignlfet{
    float: left;
    
}
.alignright{
    float: right;
    padding-right: 20px;
}
.alignright_1{
    float: right;
}
a {
    text-decoration: none;
    color: blue;
}