<!DOCTYPE html>
<html>
    <head>
        <title>닉네임 변경</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}" />
        <div id="main-bar" >
            <a href='/' class="alignleft">메인</a>
        {% if session.get('user') == None %}    {# session.get('user') 만 써도 된다  #}
            <a href='/login' class="alignright">로그인</a>
        {% else %}
            <a href='/body_edit' class="alignright_1">글쓰기</a>
            <a href='/profile' class="alignright">프로필</a>
            <a href='/logout' class="alignright">로그아웃</a>
        {% endif %}
        </div>
    </head>
    <body>
        <div id="body_head">
        <h1>닉네임 변경</h1></div>
        <form action="/nickname_edit" method="POST">
            <input type="text" value="{{ nickname[0] }}" name="n_nickname" placeholder="새 닉네임"/>
            <input type="submit" value="변경"/>
            <a href="/profile">취소</a>
        </form>
    </body>
</html>