<!DOCTYPE html>
<html>
    <head>
        <title>회원가입</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />
        <div id="main-bar" >
            <a href='/' class="alignleft">메인</a>
        </div>
    </head>
    <body>
        <h1>회원가입</h1>
        <form action="/regis" method="POST">
            <input type="email" name="regis_email" placeholder="이메일 입력"/>
            <input type="password" name="regis_password" placeholder="비밀번호 입력"/>
            <input type="text" name="regis_nickname" placeholder="닉네임 입력"/>
            <input type="submit" value="등록"/>
        </form>
    </body>
</html>