<!DOCTYPE html>
<html>
    <head>
        <title>회원탈퇴</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}" />
        <div id="main-bar" >
            <a href='/' class="alignleft">메인</a>
        {% if session.get('user') == None %}    {# session.get('user') 만 써도 된다  #}
            <a href='/login' class="alignright">로그인</a>
        {% else %}
            <a href='/body_edit' class="alignright_1">글쓰기</a>
            <a href='/profile' class="alignright">프로필</a>
            <a href='/logout' class="alignright">로그아웃</a>
        {% endif %}
        </div>
    </head>
    <body>
        <div id="body_head">
        <h1>회원탈퇴</h1></div>
        <form action="/user_delete" method="POST">
            회원탈퇴 하시겠습니까?
            <input type="submit" value="삭제"/>
            <a href="/profile">취소</a>
        </form>
    </body>
</html>